body {
    background: white;
}

header{
    margin-left: auto;
    background: #181818;
    width: 100%;
    padding: 0.5%;
    height: 10vh;
    color: #BC8F8F;
    border-bottom: 5px solid #4d4d4d;
    position: fixed;
}

header nav a{
    left:200px;
    top: 0px;
    font-weight: bold;
    position: relative;
    font-size: 30px;
    color: #FF8C00;
    padding-right: 100px;
    text-decoration: none;
}
.content {
    color: black;
    border-bottom: 1px solid #DDA0DD;
}


.content-text {
    margin-left: 380px;
    padding-top: 100px;
	color: #000;
	font-size: 25px;
	font-family: Yandex Sans Display Light;
}

.list-content li {
    list-style: none;
	border-bottom: 1px solid #ccc;
}

aside{
    position: fixed;
    float: left;
    background: #313033;
    width: 20%;
    padding: 0.5%;
    margin-top: 4.8%;
    height: 100vh;
    color: white;
    border-right: 5px solid #4d4d4d;
}

aside div.category ul{
    list-style: none;
}

aside div.category ul a{
    font-size:25px;
    color: orange;
    display: block;
    margin-top: 30px;
    transition: all .6s;
    text-decoration: none;
}

aside div.category ul a:hover, aside ul.category li:hover{
    color: red;
    transform: scale(1.05);

    }

aside div.category ul li a.select {
    color: green;

}

aside div.category ul li.select {
    color: green;
    font-size: 30px;
}