{% load static %}
{% load flowers_category %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'flowers/css/main.css' %}">
    <title>{{ title }}</title>
</head>
<body>
<header>
    <nav>
        {% for m in mainmenu %}
            <a href="{% url m.url_name %}">{{ m.title }}</a>
        {% endfor %}
        {% if user.is_authenticated %}
            <a class="last">{{ user.username }}</a> | <a href="{% url 'users:logout' %}">Выйти</a>
        {% else %}
            <a class="last" href="{% url 'users:login' %}">Войти</a><a class="last" href="#">Регистрация</a>
        {% endif %}


    </nav>
</header>
<aside>
    <div class="category">
        <ul>
            {% if cat_select == 0 %}
                <li><a class="select" href="{% url 'index' %}">Все категории</a></li>
            {% else %}
                <li><a href="{% url 'index' %}">Все категории</a></li>
            {% endif %}
            <li>{% flower_category cat_select %}</li>
        </ul>
    </div>
</aside>
<main>
    <div class="content-text">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer></footer>
</body>
</html>